    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Trang Chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Dịch Vụ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Vể Chúng Tôi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Đội Ngũ</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Bài Viết</a>
                    </li>
                    </li>
                    </li>
                    <li class="nav-item" style="background-color:green">
                        <a class="nav-link" href="javascript:void(0)">Đặt lịch Ngay</a>

                    </li>
                    </li>


                    <!--search-->
                </ul>
                <form class="d-flex" method="get">
                    <input class="form-control me-2" type="text" name="kw" placeholder="Search">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>